<!DOCTYPE html>
<html>
<head>
    	<meta charset="utf-8">
	<title>HTML Web Template</title>
	<link rel="stylesheet" href="../static/style.css">
</head>

<body>        
        <div class="container">
            <div class="row">
                <div class="tm-left-right-container">
                    <!-- Left column: logo and menu -->
                    <div class="tm-blue-bg tm-left-column">                        
                        <div class="tm-logo-div text-xs-center">
                            <img src="../static/tm-neaty-logo.png" alt="Logo">
                            <h1 class="tm-site-name">HUST</h1>
			    <h7 class="tm-site-name">HANOI University of Science & Technology</h7>
                        </div>
                        <nav class="tm-main-nav">
                            <ul class="tm-main-nav-ul">
                                <li class="tm-nav-item">
                                    <a href="#welcome" class="tm-nav-item-link">Chào mừng</a>
                                </li>
                                <li class="tm-nav-item">
                                    <a href="#about" class="tm-nav-item-link">Liên hệ</a>
                                </li>
                                <li class="tm-nav-item">
                                    <a href="#deep" class="tm-nav-item-link">Deep Learning</a>
                                </li>
                                
                            </ul>
                        </nav>                                         
                    </div> <!-- Left column: logo and menu -->
                    
                    <!-- Right column: content -->
                    <div class="tm-right-column">
                        <figure>
                            <img src="../static/itheader.jpg" alt="Header image" class="img-fluid">    
                        </figure>

                        <div class="tm-content-div">
                            <!-- Welcome section -->
                            <section id="welcome" class="tm-section">
                                <header>
                                    <h2 class="tm-blue-text tm-welcome-title tm-margin-b-45"><big>welcome</big></h2>	
                                </header>
                                <p>Slile các bài giảng theo từng môn học</p>
                            </section>
                            <!-- About section -->
                            <section id="about" class="tm-section">
                                <div class="row">
					<header>
                                            <h2 class="tm-blue-text tm-section-title tm-margin-b-45">Mọi thắc mắc vui lòng liên hệ:</h2>
                                        </header>
				    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 pull-lg-8 pull-md-7 tm-about-img-container">
                                        <img src="../static/mr.jpg" alt="Image" class="img-fluid">    
                                    </div>                                    
                                    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 push-lg-4 push-md-5">
                                        <p>KTMT - NGUYỄN HỒNG QUANG<br />
					Email: quang.nguyenhong@hust.edu.vn<br />
					Phone: 0978 813 688</p> 
                                    </div>

                                      
                                </div>                            
                            </section>  

                            <!-- Section 1-->     
                            <section id="deep" class="tm-section">
                                <header><h2 class="tm-blue-text tm-section-title tm-margin-b-30">Deep Learning</h2></header>
                                <div class="tm-gallery-container tm-gallery-1">
                                    <div class="tm-img-container tm-img-container-1">
                                        <a href="deeplearning"><img src="../static/deep.jpeg" alt="Image" class="img-fluid tm-img-tn"></a>
                                    </div>                                    
                                </div>
                            </section>

                            

                            <footer>
                                <p class="tm-copyright-p">Nguyễn Bách Thắng 20153505</p>
                            </footer>
                        </div>  
                        
                    </div> <!-- Right column: content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
</body>
</html>
