<!DOCTYPE html>
<html>
<head>
    	<meta charset="utf-8">
	<title>HTML Web Template</title>
	<link rel="stylesheet" href="../static/style.css">
</head>

<body>        
        <div class="container">
            <div class="row">
                {% include 'sidenav.html' %}
                
                <div id="welcome" class="tm-right-column">
                    <section id="welcome">
                        <figure>
                            <img src="../static/pr1.jpg" alt="Header image" class="img-fluid">    
                        </figure>
                    </section>
    
                    <div class="tm-content-div">
                        <section id="math" class="tm-section">
                            <header>
                                <h2 class="tm-blue-text tm-welcome-title tm-margin-b-45"><big>Pseudouridine sites identification on RNA sequence</big></h2>
                            </header>
                            <p>Pseudouridine sites identification on RNA sequence by using Capsule network based on dinucleotide composition, one-hot vector transformation and 5-fold cross-validation ensemble</p>
                        </section>
                        <div id="loading"><span style="top: 80px;left: -20px;position: relative;">Please wait ...</span></div>
                        <div id="content">
                            <form action = "/result-1" method = "POST">
                                <p align="center">
                                    <input type="radio" checked="true" name="options" value="0"> H. sapiens </input>
                                    <input type="radio" name="options" value="1"> S. cerevisiae  </input>
                                </p>
                                <p align="center">
                                    <textarea cols="66" style="width: 550px; height: 200px;" name="seq"></textarea>                                
                                </p>
                                <p align="center">
                                    <input type = "submit" value="Submit" onclick="loading1();"/>
                                    <input type="reset" value="Clear">
                                </p>
                            </form>
                        </div>		
                        <br />
                    </div> <!-- Right column: content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    <script>
        function loading1() {
            var loading = document.getElementById("loading");
            var content = document.getElementById("content");
            loading.style.display = "block";
            content.style.display = "none";
        }
    </script>
</body>
</html>
