<!DOCTYPE html>
<html>
<head>
    	<meta charset="utf-8">
	<title>Problem</title>
	<link rel="stylesheet" href="../static/style.css">
</head>

<body>        
        <div class="container">
            <div class="row">                
                <div>
                    <section class="center">
                        <figure>
                            <img src="../static/pr2.jpg" alt="Header image" class="img-fluid">    
                        </figure>
                    </section>
    
                    <div class="tm-content-div">
                        <section id="math" class="tm-section">
                            <header>
                                <h2 class="tm-blue-text tm-welcome-title tm-margin-b-45"><big>Predicting Protein-DNA Binding Residues</big></h2>
                            </header>
                            <p>Predicting Protein-DNA Binding Residues by using Capsule network based on position‐specific scoring matrix (PSSM), random-undersampling and 10-fold cross-validation ensemble</p>
                        </section>
                        <div style="display: flex;justify-content: center;align-items: center;">
                            <div id="loading" style="width: 125px;"><span style="top: 80px;left: -20px;position: relative;">Please wait ...</span></div>
                        </div>
                        <div id="content">
                            <form action = "/result-2" method = "POST">
                                <p align="center">
                                    <input type="radio" checked="true" name="options" value="0.5721731185913086"> Spe≈85% (threshold 0.5721731185913086) </input>
                                    <input type="radio" name="options" value="0.6388260126113892"> FPR≈8% (threshold 0.6388260126113892)  </input>
                                </p>
                                <p align="center">
                                    <textarea cols="66" style="width: 550px; height: 200px;" name="seq"></textarea>                                
                                </p>
                                <p align="center">
                                    <input type = "submit" value="Submit" onclick="loading();"/>
                                    <input type="reset" value="Clear">
                                </p>
                            </form>
                        </div>	
                    </div> <!-- Right column: content -->
                </div>
            </div> <!-- row -->
            {% with result=None %}
                {% include 'navigation.html' %}
            {% endwith %}
        </div> <!-- container -->
    <script>
        function loading() {
            var loading = document.getElementById("loading");
            var content = document.getElementById("content");
            loading.style.display = "block";
            content.style.display = "none";
        }
    </script>
</body>
</html>
