<!DOCTYPE html>
<html>
<head>
    	<meta charset="utf-8">
	<title>HTML Web Template</title>
	<link rel="stylesheet" href="../static/style.css">
</head>

<body>        
        <div class="container">
            <div class="row">
                {% include 'sidenav.html' %}
                
                <div id="welcome" class="tm-right-column">
                    <section id="welcome">
                        <figure>
                            <img src="../static/pr2.jpg" alt="Header image" class="img-fluid">    
                        </figure>
                    </section>
    
                    <div class="tm-content-div">
                        <section id="math" class="tm-section">
                            <header>
                                <h2 class="tm-blue-text tm-welcome-title tm-margin-b-45"><big>Predicting Protein-DNA Binding Residues</big></h2>
                            </header>
                            <p>Predicting Protein-DNA Binding Residues by using Capsule network based on position‐specific scoring matrix (PSSM), random-undersampling and 10-fold cross-validation ensemble</p>
                        </section>			
                        <form action = "/result-2" method = "POST">
                            <p align="center">
                                <input type="radio" checked="true" name="options" value="0"> Spe≈85% Threshold (0.5721731185913086) </input><br />
                                <input type="radio" name="options" value="1"> FPR≈8% Threshold (0.6388260126113892)  </input>
                            </p>
                            <p align="center">
                                <textarea cols="66" style="width: 550px; height: 200px;" name="seq"></textarea>                                
                            </p>
                            <p align="center">
                                <input type = "submit"/>
                                <input type="reset" value="Clear">
                            </p>
                        </form>
                        <br />
                    </div> <!-- Right column: content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
</body>
</html>
