<div class="tm-left-right-container">
    <!-- Left column: logo and menu -->
    <div class="tm-blue-bg tm-left-column">                        
        <div class="tm-logo-div text-xs-center">
            <img src="../static/tm-neaty-logo.png" alt="Logo">
            <h1 class="tm-site-name">HUST</h1>
            <h7 class="tm-site-name">HANOI University of Science & Technology</h7>
        </div>
        <nav class="tm-main-nav">
            <ul class="tm-main-nav-ul">
                <li class="tm-nav-item">
                    <a href="/" class="tm-nav-item-link">Homepage</a>
                </li>
                <li class="tm-nav-item">
                    <a href="problem-1" class="tm-nav-item-link">Problem 1: Pseudouridine sites identification on RNA sequence</a>
                </li>
                <li class="tm-nav-item">
                    <a href="problem-2" class="tm-nav-item-link">Problem 2: Predicting Protein-DNA Binding Residues</a>
                </li>
                
            </ul>
        </nav>                                         
    </div> <!-- Left column: logo and menu -->
</div>