<div class="tm-left-right-container">
    <!-- Left column: logo and menu -->
    <div class="tm-blue-bg tm-left-column">                        
        <div class="tm-logo-div text-xs-center" style="padding-right: 5px;">
            <div style="float: left; padding-left: 10px; padding-right: 10px;">
                <img src="../static/bachkhoa.jpg" alt="Logo" style="width: 90px;">
            </div>
            <div>
                <h2 style="margin: 10px;">Hanoi University of Science & Technology</h2>
                <h7>Dr. Nguyen Hong Quang - Department of Computer Engineering</h7>
            </div>
        </div>
        <nav class="tm-main-nav">
            <ul class="tm-main-nav-ul">
                <li class="tm-nav-item">
                    <a href="/" class="tm-nav-item-link">Homepage</a>
                </li>
                <li class="tm-nav-item">
                    <a href="problem-1" class="tm-nav-item-link">Pseudouridine sites identification on RNA sequence</a>
                </li>
                <li class="tm-nav-item">
                    <a href="problem-2" class="tm-nav-item-link">Predicting Protein-DNA Binding Residues</a>
                </li>
                
            </ul>
        </nav>                                         
    </div> <!-- Left column: logo and menu -->
</div>